html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

a, a:hover, a:active, a:visited, a:link{
    text-decoration: none !important;
}

a:hover, a:visited, a:link{
    color: white;
}

.font_white {
    color: #fff;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.body--ready {

    background: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-size: cover;
    background-position: center -20vh;
    height: 80vh;
    text-align: center;
}

.body--ready canvas {
    margin-top: 25vh;
}

.header {
     background-image: url("../images/header-default.jpg");
     background-repeat: no-repeat;
     background-position: 50% 0px;
     text-align: center;
     background-size: 1700px;
     height: 275px;
     margin-bottom: 30px;
     width: 100%;
 }

/* index.html */
body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

body.is-loading .banner h2 {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
}

body.is-loading .banner h2:before, body.is-loading .banner h2:after {
    width: 0;
}

body.is-loading .banner:after {
    opacity: 1;
}

body.is-loading .banner .more {
    -moz-transform: translateY(8.5em);
    -webkit-transform: translateY(8.5em);
    -ms-transform: translateY(8.5em);
    transform: translateY(8.5em);
    opacity: 0;
}



.banner {
    background-image: url("../images/bg.jpg");
    background-position: center -20vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 80vh;
    min-height: 35em;
    overflow: hidden;
    cursor: default;
    position: relative;

    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.banner h2{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    display: inline-block;
    font-size: 2.5em;
    opacity: 1;
    padding: 0.35em 1em;
    position: relative;
    z-index: 1;
}

.banner h2:before, .banner h2:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;
    background: #fff;

    -moz-transition: width 0.85s ease;
    -webkit-transition: width 0.85s ease;
    -ms-transition: width 0.85s ease;
    transition: width 0.85s ease;

    -moz-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    transition-delay: 0.25s;

}

.banner h2:before {
    top: 0;
    left: 0;
}

.banner h2:after {
    bottom: 0;
    right: 0;
}

.banner .more{
    -moz-transition: -moz-transform 0.75s ease, opacity 0.75s ease;
    -webkit-transition: -webkit-transform 0.75s ease, opacity 0.75s ease;
    -ms-transition: -ms-transform 0.75s ease, opacity 0.75s ease;
    transition: transform 0.75s ease, opacity 0.75s ease;
    -moz-transition-delay: 0.75s;
    -webkit-transition-delay: 0.75s;
    -ms-transition-delay: 0.75s;
    transition-delay: 0.75s;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    border: none;
    bottom: 0;
    color: #fff;
    font-size: 1em;
    height: 5.5em;
    left: 50%;
    letter-spacing: 0.225em;
    margin-left: -8.5em;
    opacity: 1;
    outline: 0;
    padding-left: 0.225em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 16em;
    z-index: 1;
}



.banner .more:after{
    background-image: url("../images/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 2em;
    content: '';
    display: block;
    height: 1.5em;
    left: 50%;
    margin: 0 0 0 -0.75em;
    position: absolute;
    width: 1.5em;
    -webkit-animation: arrow 0.75s linear infinite;
    -moz-animation: arrow 0.75s linear infinite;
    -o-animation: arrow 0.75s linear infinite;
    animation: arrow 0.75s linear infinite;
}

.navHeader {
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    background-color: black;
    height: 55px;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.firstNav {
    height: 80px;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=0 );
}
 .firstNav .inner-nav ul li {
     padding: 11px 10px !important;
 }


.clearlist, .clearlist li {
    list-style: none;
    padding: 0;
    margin: 0;
    background: none;
}

.navHeader .inner-nav {
}

.navHeader .inner-nav li {
    display: inline-block;
    position: relative;
    float: right;
}

.navHeader .inner-nav ul{
    float: right;
    margin: auto;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
}

.navHeader .inner-nav ul li{
    float: left;
    margin-left: 35px;
    position: relative;
    padding: 0px 10px;
    font-size: 13px;
    text-align: left;
    text-transform: none;
    border-left: none;
    border-right: none;
    letter-spacing: 0;
    cursor: pointer;
}

.inner-nav ul li a{
    color: #fff;
    opacity: 0.5;
    letter-spacing: 2px;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    height: 55px !important;
    line-height: 55px !important;

    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.inner-nav ul li a:hover,
.inner-nav ul li a.active{
    opacity: 1;
    text-decoration: none;
}

.inner-nav ul li:last-child {
    margin-right: 100px;
}

.display-block {
    display: block !important;
}

.text-center {
    text-align: center;
}

#one{
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
    box-shadow: 0px -4px 20px #B7B0B0;
}

#one h3, #three h3 {
    font-size: 3em;
    color: #000;
    margin-bottom: 40px;
}
.star {
    width: 60vh;
    color: #000;
    position: relative;
    margin-bottom: 60px;
}
.star:after {
    position: absolute;
    width: 11px;
    height: 11px;
    content: "";
    bottom: -4px;
    left: 50%;
    margin-left: -5px;
    background-color: #8b8b8b;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.profile span{
    display: block;
    font-size: 15px;
    margin: 5px;
}

.profile>div {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

.profile .about{
    margin-right: -50px;
    margin-left: 50px;
    padding-top: 20px;
}

.profile .details {
    margin-left: -50px;
    padding-top: 20px;
}

.profile h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.robin-image {
    background-image: url("../images/robin.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin: 0 auto;
    border: 5px solid rgba(11, 209, 226, 0.2);
}

.detail-label {
    font-weight: bold;
}

#two {
    background-image: url("../images/bg5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 120px;
    color: white;
}

#two:after {
    background-image: url("../images/overlay.png");
    background-repeat: repeat;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.7;
    z-index: -1;
}

#two>div {
    display: inline-block;
    width: 33%;
}

#two a {
    text-decoration: none;
    color: white;
}



.my-icon {
    position: relative;
    padding-bottom: 30px;
}

#two a:hover .my-icon:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border: 2px solid;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-top: -15px;
    border-color: rgba(255,255,255, 1);
    -webkit-animation: border-show 0.2s linear 1;
    -moz-animation: border-show 0.2s linear 1;
    -o-animation: border-show 0.2s linear 1;
    animation: border-show 0.2s linear 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
}

#three {
    background-color: #fff;
    padding: 80px 0px;
    text-align: center;
}

#three>div>div {
    display: inline-block;
    width: 40%;
}

.contact {
    text-align: center;
}

.contact h4{
    font-size: 30px;
    margin: 30px;
}

.email, .email div {
  transition-duration: .6s;
}

.email, .button { 
    transition-timing-function: ease; 
}

.email {
    background: #A9ADB6;
    box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0,0,0,.2), inset 0 .25rem 1rem rgba(0,0,0,.1);
    height: 40px;
    border-radius: .25rem;
    width: 220px;
    margin: 0 auto;
    position: relative;
    padding: 5px;
    perspective: 300px;
}

.button {
    background-color: #929494;
    height: 100%;
    border-radius: .25rem;
    padding: 5px;
    opacity: 0;
}

.btn-cover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: .25rem;
    transform-origin: center bottom;
    transform-style: preserve-3d;
    color: white;
    text-align: center;
    pointer-events: none;
    z-index: 100;
    perse
}

.btn-out, .btn-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.1) 100%);
    border-radius: .25rem;
}

.btn-out {
   background-color: #515151; 
   padding: 3px;
   transform: translateZ(.25rem);
   text-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.btn-inner {
  background-color: #8D8C8C;
  text-shadow: 0 -2px 4px rgba(0,0,0,.2);
}

.btn-shadow {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 3.5rem;
    transform-origin: center top;
    transform: rotateX(90deg);
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,.6) 0%, transparent 100%);
    background-image: linear-gradient(to bottom, rgba(0,0,0,.6) 0%, transparent 100%);
    border-radius: .4rem;
    z-index: 0;
    opacity: 0;
}

.email:hover {
    background-color: #EBEFF2;
}

.email:hover .button {
    opacity: 1;
}

.button:hover {
    background-color: #6C6C6C;
}

.email:hover .btn-cover { 
    transform: rotateX(-120deg);  
}

.email:hover .btn-cover, .email:hover .outie, .email:hover .innie { 
    transition-timing-function: cubic-bezier(.2,.7,.1,1.1); 
}

.email:hover .btn-out { 
    background-color: #4E4E4E; 
    color: rgba(255,255,255,0); 
}


.email:hover .btn-inner { 
    background-color: #717171; 
}

.email:hover .btn-shadow { 
  opacity: 1;
  transform: rotateX(45deg) scale(.95);
}

.social, .social div{
    text-align: center;
    vertical-align: middle;
}

.social>div {
    display: inline-block;
    margin: 0 20px;
}

.wechat-mp span {
   font-size: small;
}



@-webkit-keyframes border-show{
    0% {
        -webkit-transform: scale(0.8, 0.8);
        -moz-transform: scale(0.8, 0.8);
        -o-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
    100% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-o-keyframes border-show{
    0% {
        -webkit-transform: scale(0.8, 0.8);
        -moz-transform: scale(0.8, 0.8);
        -o-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
    100% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-moz-keyframes border-show{
    0% {
        -webkit-transform: scale(0.8, 0.8);
        -moz-transform: scale(0.8, 0.8);
        -o-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
    100% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes border-show{
    0% {
        -webkit-transform: scale(0.8, 0.8);
        -moz-transform: scale(0.8, 0.8);
        -o-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
    100% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes arrow {
    0% {
        bottom: 2em;
    }
    25% {
        bottom: 2.2em;
    }
    50% {
        bottom: 2em;
    }
    75% {
        bottom: 1.8em;
    }
    100% {
        bottom: 2em;
    }
}

@-moz-keyframes arrow {
    0% {
        bottom: 2em;
    }
    25% {
        bottom: 2.5em;
    }
    50% {
        bottom: 2em;
    }
    75% {
        bottom: 1.5em;
    }
    100% {
        bottom: 2em;
    }
}

@-webkit-keyframes arrow {
    0% {
        bottom: 2em;
    }
    25% {
        bottom: 2.5em;
    }
    50% {
        bottom: 2em;
    }
    75% {
        bottom: 1.5em;
    }
    100% {
        bottom: 2em;
    }
}

@-o-keyframes arrow {
    0% {
        bottom: 2em;
    }
    25% {
        bottom: 2.5em;
    }
    50% {
        bottom: 2em;
    }
    75% {
        bottom: 1.5em;
    }
    100% {
        bottom: 2em;
    }
}